body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_flex_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link_container {
  margin-left: 20px;
}